// Fonts
$_standard-font-family: 'Lato', sans-serif;

// Colours
$white: #fff;
$color-body: #666;
$color-link: #000;

// Globals
$transition-timing: .3s;
$transition-delay: .5s;
$default-animation-timing: 1s;

// Base
$body-font-stack: $_standard-font-family;
$body-background-color: $white;
$body-color: $color-body;

// Defaults
$default-link-color: $color-link;

// Theme

$theme: #0198A9;
$theme-alt: #0b7a86;
$grey: #acacac;
$mid-grey: #606060;
$dark-grey: #4c4c4c;
