header {
	padding: 15px 0px;
	ul  {
        margin-top: 30px;
	li {
		@include font-size(1.8);
	}
	}
	.fa {
		color: $theme;
	}
}
.anouncement {
	background: #ffff66;
	text-align: center;
	padding: 15px 0px;
	p {
			@include font-size(1.8);
	}
}
