.news {
		padding: 25px 0px;
	h1 {
		color: $theme;
		text-transform: uppercase;
		@include font-size(4);
	 &:after {
		background: none repeat scroll 0 0 $grey;
		content: "";
		display: inline-block;
		height: 5px;
		position: relative;
		width: 40%;
		margin-left: 15px;
      }
     }
     h2 {
     	@include font-size(2.3);
     	color: $theme;
     }
     p {
     	@include font-size(1.7);
     }
     a {
     	@include font-size(1.7);
     	color: $theme;
     }
}