.main-content {
	background: #fff;
}
.welcome {
	padding: 25px 0px;
	h1 {
		color: $theme;
		text-transform: uppercase;
		@include font-size(4);
	 &:after {
		background: none repeat scroll 0 0 $grey;
		content: "";
		display: inline-block;
		height: 5px;
		position: relative;
		width: 40%;
		margin-left: 15px;
      }
	}
	.name {
		@include font-size(2.2);
		color: $theme;
	}
}
.slogan {
	background: $theme;
	color: #fff;
	margin: 30px 0px;
	text-align: center;
	text-transform: uppercase;
	padding: 50px 0px;
	p {
		 @include font-size(4);
		 line-height: 4rem;
       }
    hr {
    	width: 40%;
    	background-color: #fff;
    	height: 3px;
    }
  	}
	
.page {
	.sidebar, .full-feed .post, .widget-area--base aside {
		width: 100%;
	}
	.sidebar {
		padding-left: 0px;
	}
	.breadcrumb {
		padding: 10px 15px;
		margin:30px 0px;
		li:first-child a::before {
    content: '\e605';
    font-size: 24px;
    font-size: 2em;
    line-height: .1;
    position: relative;
    top: 8px;
}
	}
	.content-page {
		table {
			width: 100%;
			margin-bottom: 25px;
			th {
				@include font-size(2);
			}
			td {
                @include font-size(1.5);
			} 
		}
	ul {
		list-style: disc;
		padding-left: 50px;
	}
	h2, .job-block-title {
      	@include font-size(3);
      }
		h1 {
		color: $theme;
		text-transform: uppercase;
		@include font-size(4);
	 &:after {
		background: none repeat scroll 0 0 $grey;
		content: "";
		display: inline-block;
		height: 5px;
		position: relative;
		width: 20%;
		margin-left: 15px;
      }

	}
	}
    .entry-header {
    	padding: 0px;
    }
    .salary {
       @include font-size(1.5);
    }
    .job-header {
    	h1 {
		color: $theme;
		text-transform: uppercase;
		@include font-size(3);
	 &:after {
		background: none repeat scroll 0 0 $grey;
		content: "";
		display: inline-block;
		height: 5px;
		position: relative;
		width: 10%;
		margin-left: 15px;
	}
      }
     }

    .widget-title {
    	@include font-size(2);
    }
}
