	.slider {
    position: relative;
    margin-bottom: 25px;
    .item   {
        min-height: 600px;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        position: relative;     
      }
    }

  .header-overlay {

  	z-index: 2;
  	height: 60%;
  	width: 40%;
    padding: 10% 0%;
    color: #fff;
    .theme-box {
          background:rgba(1, 152, 169, 0.6);
          padding: 10% 10%;
          strong, b {
            @include font-size(3);
          }
    }
   }