.testimonial {
	background: $grey;
	padding: 50px 0px;
	margin: 30px 0px;
	text-align: center;
	color: #fff; 
	.pad {
		padding: 0px 100px;
	}
	p {
			@include font-size(2.8);
	}
	.container {
		position: relative;

	img.left {
		position: absolute;
		top: 0px;
	 	left: 0px;
     	}
    img.right {
		position: absolute;
		bottom: 0px;
	 	right: 0px;
     	}
		}
}